<form method="POST" action="">
<label>
    <input type="text" name="name" placeholder="Назва">
</label>
<label>
    <input type="number" name="age" placeholder="Кількість серій">
</label>

<input type="submit" value="Додати">
</form>