<ul>
    <li><a href="/">
            HOME
        </a></li>
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/contacts">CONTACTS</a></li>
    <li><a href="/footer">FOOTER</a></li>
    <li><a href="/catalogue">CATALOGUE</a></li>
</ul>
