{{title}}
<br>
<h1>Furuuuuuuuuuuuuuuuuuuuuuuutie</h1>


<ul>
    {%for array_fruits in fruit%}
        <li>{fruit}</li>
    {#/foreach#}
    {% endfor %}
</ul>
<style>
    body {
        background-color: yellow;
    }
</style>
<img src="image.png" alt="">